# Tuples
-> Tuples are similar to list
-> We can not change the element of tuples one it define
-> it was denoted by small bracket

# Tuple Creation

In [1]:
t=()                               # empty tuple
print(t)
t1=(1,2,3,4,5)                     # tuple with integer value
print(t1)
t2=('a','b','c','d')
print(t2)
t3=(1,"a",3,"om")                  # tuples with mixed data types
print(t3)
t4=(1,2,3,4,(5,66,7))              # tuple within a tuple
print(t4)

()
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1, 'a', 3, 'om')
(1, 2, 3, 4, (5, 66, 7))

In [2]:
# we can also put list inside a tuples
t=(1,2,"om",(4,5,6),[10,20,30,"prakash","singh"])
print(t)
type(t)

(1, 2, 'om', (4, 5, 6), [10, 20, 30, 'prakash', 'singh'])

tuple

In [3]:
t=("Om prakash")
type(t)                 # only parenthesis is not enough to declare to be tuple

str

In [4]:
t=("Om prakash",)
type(t)                 # we put comma after parenthesis

tuple

In [7]:
t="omprakash","singh",  # Parenthesis is optional
print(type(t))
print(t)

<class 'tuple'>
('omprakash', 'singh')

# Accessing Element in tuples

In [10]:
t=("abc","xyz",("amit","shardul","omprakash"),"rajneesh")
print(t[0])
print(t[2])
print(t[2][1])
print(t[3])
print(t[-1])               # we can also use negative index to access element in tuples 
print(t[-2][-1])

abc
('amit', 'shardul', 'omprakash')
shardul
rajneesh
rajneesh
omprakash

# Slicing

In [15]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[:])                    # print all element in tuples
print(t[2:])                   # print all frome index 2 till end
print(t[:3])                   # print element from beganing to index 2
print(t[3:6])                  # print element from index 3 to index 5
print(t[::2])                  # print alternate element
print(t[::3])                  # print element after 2 gap 
print(t[:-2])                  # print element from beganing to 2 last
print(t[-1:])                  # print  last element

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(4, 5, 6)
(1, 3, 5, 7, 9)
(1, 4, 7, 10)
(1, 2, 3, 4, 5, 6, 7, 8)
(10,)

# Changing the tuples

In [16]:
t=(1,2,3,4,5,6,7,8,9,10)
t[2]=10                         # we can not change tuple element once tuple is created

TypeError: 'tuple' object does not support item assignment

In [19]:
t=(1,2,3,4,5,[6,"om",2,"singh"])
t[5][3]="prakash"                # however we can change the element of list inside a tuples
print(t)
type(t)

(1, 2, 3, 4, 5, [6, 'om', 2, 'prakash'])

tuple

# Concatinating tuples

In [20]:
t1=(1,3,5)
t2=(2,4,6,[8,10])
print(t1+t2)              # we can concatinate tuples by using "+" sign

(1, 3, 5, 2, 4, 6, [8, 10])

In [24]:
t=(("omprakash",)*4)        # We can repeat the element in a tuple for a given number of time using "*" operator
print(t)

('omprakash', 'omprakash', 'omprakash', 'omprakash')

# Tuple deletion

In [28]:
# we can change the element in the tuples
# that means we cannot delete or remove element in tuples

# But we can delete entire tuple by using del key
t=(1,2,3,4,5,6,7,8,9,10)
print(t)
del t
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

NameError: name 't' is not defined

# Tuple count

In [29]:
t=(1,2,3,3,2,3,4,5,3,6)
t.count(3)             # print the frequency of particulr element in the tuple

4

# Tuple index

In [31]:
t=(1,2,3,1,3,3,4,1)
print(t.index(3))      # Return the first element equal to 3
print(t.index(1))

2
0

# Tuple membership

In [33]:
t=(1,2,3,3,2,3,4,5,3,6)
print(5 in t)            # test if an item exists in a tuple or not using the keyword "in"
print(8 in t)

True
False

# Built in function

In [34]:
        # Tuple Length
t=(1,2,3,3,2,3,4,5,3,6)
print(len(t))

10

# Tuple sort

In [35]:
t=(5,3,7,2,9,1)
print(sorted(t))          # sort the element and return the list of element

[1, 2, 3, 5, 7, 9]

In [36]:
print(t)                # Original tuple does not change

(5, 3, 7, 2, 9, 1)

In [37]:
       # To get largest element in tuple
t=(5,3,7,2,9,1)
print(max(t))

9

In [38]:
          # To get Smallest element in tuple
t=(5,3,7,2,9,1)
print(min(t))

1

In [39]:
             # To get sum of element in tuple
t=(5,3,7,2,9,1)
print(sum(t))

27